* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

body, #root {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  background: #101010;
}

::-webkit-scrollbar {
  display: none;
}