nav {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #2a2a2aff;
  width: 0;
  overflow: hidden;
  transition: width 0.2s;
}

.expanded {
  width: 240px;
}

.collapsed > * {
  display: none;
}

.expanded > * {
  display: block;
  animation: showContent 1s;
}

@keyframes showContent {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


hgroup {
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  position: relative;
  width: 100%;
  color: #eeeeeeff;
  font-size: large;
  font-family: sans;
  font-weight: 400;
  text-align: justify;
}

h1:hover {
color: #4488ffff;
}

hr {
  background-color: #404040ff;
  height: 1px;
  border: 0;
}

nav div {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

#websiteGroupListNav {
  padding: 20px 60px;
}

#websiteGroupListNav > li {
  padding: 20px 15px 10px 15px;
  font-size: small;
  font-family: sans;
  color: #808080ff;
  border-bottom: solid 1px #404040ff;
}

#websiteGroupListNav > li > a {
  color: #808080ff;
}

#websiteGroupListNav > li > a:hover {
  color: #4488ffff;
}

#root > div {
  position: relative;
  height: 100%;
  flex: 1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

/***********************************/

aside:nth-of-type(2) {
  z-index: 30;
  position: absolute;
  right: 30px;
  top: 30px;
  height: 50px;
  width: 50px;
  background: #202020ff;
  border-radius: 50%;
  border: solid 2px #404040ff;
  transition: all .2s ease-in-out;
  box-shadow: inset 0 0 10px #000000ff;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

aside:nth-of-type(2):hover {
  border: solid 3px #4488ffff;
  animation: rotate .6s ease-out;
}


aside:nth-of-type(2) > a {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside:nth-of-type(2) > a > img {
  height: 20px;
}

aside:nth-of-type(1) {
  z-index: 30;
  position: absolute;
  left: 30px;
  top: 30px;
  height: 50px;
  width: 50px;
  background: #202020ff;
  border-radius: 50%;
  border: solid 2px #404040ff;
  transition: all .2s ease-in-out;
  box-shadow: inset 0 0 10px #000000ff;
}

aside:nth-of-type(1):hover {
  border: solid 3px #4488ffff;
  animation: rotate .6s ease-out;
  cursor: pointer;
}


aside:nth-of-type(1) > a {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside:nth-of-type(1) > a > img {
  height: 20px;
}


header {
  z-index: 10;
  position: relative;
  padding: 60px 30px;
  height: 400px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-mask {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/RETROWAVE-OASIS-33331.png);
  background-position: center;
  background-repeat: no-repeat;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.header-mask-deactive {
  background-size: 100%;
}

.header-mask-deactive::after {
  content: '';
  background: #00000033;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.header-mask-active {
  background-size: 110%;
  filter: blur(5px);
}

.header-mask-active::after {
  content: '';
  background: #00000033;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#search-container {
  z-index: 20;
  position: relative;
}

#search-container > form {
  display: flex;
  flex-direction: column;
}

#search-container > form > ul {
  display: flex;
  height: 40px;
}

#search-container > form > input[type="text"] {
  width: 300px;
  min-width: 300px;
  padding: 12px 24px;
  font-size: 14px;
  opacity: .8;
  background: #0a0a0aff;
  color: #ffffffff;
  border: solid 1px transparent;
  border-radius: 25px;
  text-align: center;
  transition: all .3s ease-in-out;
}

#search-container > form > input[type="text"]:hover,
#search-container > form > input[type="text"]:focus {
  width: 800px;
}

#search-container > form > input[type="text"]:focus {
  opacity: 1;
  outline: none;
  border: solid 1px #4488ffff;
}

#quote-container {
  z-index: 15;
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
  background: #101010ff;
  border-radius: 30px;
  border: solid 1px #a0a0a0ff;
  transition: border .2s ease-in-out;
  display: none;
}

#quote-container:hover {
  cursor: pointer;
  border: solid 1px #4488ffff;
}

#quote-container > span {
  font-size: 12px;
  margin-right: 5px;
}

#quote-container > quote {
  color: #ffffffff;
  font-size: 12px;
}

/***********************************/

main {
  z-index: 20;
  position: relative;
  padding: 30px;
  flex: 1;
  display: flex;
  justify-content: center;
  background: #101010ff;
}

#websiteGroupListMain {
  max-width: 1560px;
}

#websiteGroupListMain > li {
  position: relative;
  margin-bottom: 20px;
}

#websiteGroupListMain > li:last-child {
  margin-bottom: 0;
}


#websiteGroupListMain > li > h2 {
  display: flex;
  position: relative;
  font-family: sans;
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: 600;
  color: #a0a0a0ff;
  margin-bottom: 15px;
}

#websiteGroupListMain > li > h2::before {
  content: '';
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  height: 24px;
  width: 24px;
  margin-right: 15px;
  background-image: url(../images/h2-tag.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}



#websiteGroupListMain > li > ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

#websiteGroupListMain > li > ul > li {
  border: solid 1px transparent;
  border-radius: 5px;
  flex: 1;
  max-width: 240px;
  min-width: 240px;
  height: 60px;
  margin: 0 20px 20px 0;
  display: flex;
  align-items: center;
  background: #2a2a2aff;
  transition: .2s ease-in-out;
}

#websiteGroupListMain > li > ul > li:hover {
  transform: translateY(-10px);
  border: solid 1px #4488ffff;
  box-shadow: 0 5px 15px #4488ffaa;
  cursor: pointer;
}

#websiteGroupListMain > li > ul > li > a {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

#websiteGroupListMain > li > ul > li > a > img {
  margin: 0 15px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

#websiteGroupListMain > li > ul > li > a > span {
  color: #d0d0d0ff;
  font-family: sans;
  font-weight: 600;
}


/***********************************/


footer {
  z-index: 20;
  position: relative;
  padding: 30px;
  height: 200px;
  background: #101010ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > p {
  color: #d0d0d0ff;
}