<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <link rel="stylesheet" href="css/global.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div id="root">
    <nav>
      <hgroup>
        <h1>Pelicaner 导航</h1>
      </hgroup>
      <hr/>
      <div>
        <ul id="websiteGroupListNav">
          <!-- Websites will be dynamically added here --> 
        </ul>
      </div>
    </nav>
    <div>
      <header>
        <div id="header-mask" class="header-mask-deactive"></div>
        <div id="search-container">
          <form>
            <ul>
            </ul>
            <input type="text" placeholder="搜索" onfocus="activeSearchBox()" onblur="activeSearchBox()"/>
          </form>
        </div>
        <div id="quote-container">
          <span>🔥</span>
          <quote>
            积土而为山，积水而为海
          </quote>
        </div>
      </header>
      <main>
        <ul id="websiteGroupListMain">
          <li></li>
        </ul>
      </main>
    </div>
  </div>
  <script src="js/initHomepage.js"></script>
  <script src="js/activeSearchBox.js"></script>
</body>
</html>
