<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="ma5hr00m">
  <link rel="icon" type="image/png" href="images/favicon.svg">
  <title>鹈鹕网址导航</title>
  <link rel="stylesheet" href="css/global.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div id="root">
    <nav class="expanded">
      <hgroup>
        <a href="/#header">
          <h1>Pelicaner导航</h1>
        </a>
      </hgroup>
      <hr/>
      <div>
        <ul id="websiteGroupListNav">
          <!-- Websites will be dynamically added here --> 
        </ul>
      </div>
    </nav>
    <div>
      <header id="header">
        <aside>
          <a onclick="collapseNavbar()">
            <img src="images/fold.svg" />
          </a>
        </aside>
        <aside>
          <a href="/manager">
            <img src="images/admin.svg" />
          </a>
        </aside>
        <div id="header-mask" class="header-mask-deactive"></div>
        <div id="search-container">
          <form onsubmit="event.preventDefault();">
            <ul></ul>
            <input
              id="searchInput"
              type="text"
              placeholder="搜索"
              onfocus="activeSearchBox()"
              onblur="activeSearchBox()"
              onkeydown="handleKeyDown(event)"
              autocomplete="off"
            />
          </form>          
        </div>
        <div id="quote-container">
          <span>🔥</span>
          <quote>
            积土而为山，积水而为海
          </quote>
        </div>
      </header>
      <main>
        <ul id="websiteGroupListMain">
          <li></li>
        </ul>
      </main>
      <footer>
        <p>©2023 ma5hr00m. All rights reserved</p>
      </footer>
    </div>
  </div>
  <script src="js/initHomepage.js"></script>
  <script src="js/activeSearchBox.js"></script>
  <script src="js/submitSearchForm.js"></script>
  <script src="js/collapseNavbar.js"></script>
</body>
</html>
